# Primer avance del PIA

### Grupo

### Equipo 11

Hector Yair Garza Amaya, 1860264

Brandon Daniel Alsina Rodriguez, 1860749

Sebastian Gonzalez Curiel, 1941456

Alberto Saucedo Orozco, 1735567

# 1.-Título de la base de datos

### a) Nombre en la página

COVID-19 Database

### b) URL de la página

https://www.kaggle.com/imdevskp/corona-virus-report?fbclid=IwAR14Y2QS1jPRAMr6j3t3oss_CiaimjBqXPKizvBbZBQyZorcbd2ke0ocZlA

# 2.-Descripción de los datos

### a) Tipo de datos

Los datos contenidos en nuestra base son tablas las cuales contienen datos numéricos de la pandemia COVID-19.

### b) Descripción de las columnas

**País**

País de donde se toma la información.

**Continente**

Continente en donde se encuentra el país analizado.

**Población**

Número de habitantes del país seleccionado.

**CasosTotales**

Cantidad de personas contagiadas en este país.

**MuertesTotales**

Número de individuos que fallecieron a causa de la enfermedad en esta región.

**RecuperadosTotales**

Población del país que se a recuperado del virus.

**CasosActivos**

Personas aún contagiadas en el país en cuestión.

**CasosCríticos**

Número de personas en estado grave en el país seleccionado.

**TestTotales**

Cantidad de Pruebas-COVID realizadas en esta región.

# 3.-Justificación de los datos

   ### a) ¿Qué nos hizo trabajar con estos datos?

Las razones principales por las cuales quisimos trabajar con estos datos fueron porque como en la actualidad la pandemia del COVID-19 está afectando a todo el mundo, nos pareció relevante realizar algún tipo de estudio o investigación de estos y llegar a conclusiones de como se ha estado desarrollando esta pandemia y que países han lidiado mejor con esta y por qué.

### b) ¿Qué beneficio encontramos al trabajar con estos datos?

El beneficio que encontramos al trabajar con esta base es que los datos que principalmente manejamos son numéricos, lo que implica un manejo mas sencillo de ellos comparando con datos alfanuméricos o de tipo “string”. Además, estos datos se encuentran convenientemente clasificados por región, lo que nos facilitará hacer nuevos cálculos o modificar los datos existentes con facilidad.

# 4.-Objetivo final

### a) Objetivo principal

Como objetivo principal tenemos planeado realizar una comparativa de los países mas afectados contra los menos afectados por la pandemia COVID-19 y llegar a conclusiones del porque a unos países les afecto mas que a otros e identificar los factores que estuvieron involucrados para llegar a dichas conclusiones.

# 5.-Mencionar preguntas de interés

### a) Planteo de preguntas de interes

1.-¿Qué continente se vio mayormente afectado por la pandemia?

2.-¿Qué continente se vio menormente afectado por la pandemia?

3.-¿Cuántas pruebas COVID se realizaron en promedio por continente?

4.-¿Cuál es el ratio de contagio-recuperación y contagio-muerte de los países?

# 6.-Parte de programación

Se importan librerias requeridas

In [3]:
import pandas 
import numpy 
import json

### Base de datos

Se realiza la lectura del archivo

In [4]:
show=pandas.read_csv(r"C:\Users\hecto\Downloads\worldometer_data.csv")

### Visualizacion de datos

Vista previa de la base de datos

In [5]:
show.head(30)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
5,Mexico,North America,1.290662e+08,462690,6590.0,50517.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.0,1056915.0,8189.0,Americas
6,Peru,South America,3.301632e+07,455409,NaN,20424.0,NaN,310337.0,NaN,124648.0,1426.0,13793.0,619.0,2493429.0,75521.0,Americas
7,Chile,South America,1.913251e+07,366671,NaN,9889.0,NaN,340168.0,NaN,16614.0,1358.0,19165.0,517.0,1760615.0,92022.0,Americas
8,Colombia,South America,5.093626e+07,357710,NaN,11939.0,NaN,192355.0,NaN,153416.0,1493.0,7023.0,234.0,1801835.0,35374.0,Americas
9,Spain,Europe,4.675665e+07,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe
10,Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
11,UK,Europe,6.792203e+07,308134,NaN,46413.0,NaN,NaN,NaN,NaN,73.0,4537.0,683.0,17515234.0,257873.0,Europe
12,Saudi Arabia,Asia,3.486592e+07,284226,NaN,3055.0,NaN,247089.0,NaN,34082.0,1915.0,8152.0,88.0,3635705.0,104277.0,EasternMediterranean
13,Pakistan,Asia,2.212959e+08,281863,NaN,6035.0,NaN,256058.0,NaN,19770.0,809.0,1274.0,27.0,2058872.0,9304.0,EasternMediterranean
14,Bangladesh,Asia,1.648514e+08,249651,NaN,3306.0,NaN,143824.0,NaN,102521.0,NaN,1514.0,20.0,1225124.0,7432.0,South-EastAsia
15,Italy,Europe,6.045257e+07,249204,NaN,35187.0,NaN,201323.0,NaN,12694.0,42.0,4122.0,582.0,7099713.0,117443.0,Europe
16,Turkey,Asia,8.442833e+07,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
17,Argentina,South America,4.523688e+07,228195,NaN,4251.0,NaN,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas
18,Germany,Europe,8.381126e+07,215210,NaN,9252.0,NaN,196200.0,NaN,9758.0,236.0,2568.0,110.0,8586648.0,102452.0,Europe
19,France,Europe,6.528831e+07,195633,NaN,30312.0,NaN,82460.0,NaN,82861.0,384.0,2996.0,464.0,3992206.0,61147.0,Europe
20,Iraq,Asia,4.030602e+07,140603,NaN,5161.0,NaN,101025.0,NaN,34417.0,517.0,3488.0,128.0,1092741.0,27111.0,EasternMediterranean
21,Philippines,Asia,1.097227e+08,119460,NaN,2150.0,NaN,66837.0,NaN,50473.0,239.0,1089.0,20.0,1669996.0,15220.0,WesternPacific
22,Indonesia,Asia,2.738084e+08,118753,NaN,5521.0,NaN,75645.0,NaN,37587.0,NaN,434.0,20.0,1633156.0,5965.0,South-EastAsia
23,Canada,North America,3.777502e+07,118561,NaN,8966.0,NaN,103106.0,NaN,6489.0,2263.0,3139.0,237.0,4319172.0,114339.0,Americas
24,Qatar,Asia,2.807805e+06,112092,NaN,178.0,NaN,108831.0,NaN,3083.0,77.0,39922.0,63.0,511000.0,181993.0,EasternMediterranean
25,Kazakhstan,Asia,1.879867e+07,95942,NaN,1058.0,NaN,68871.0,NaN,26013.0,221.0,5104.0,56.0,2163713.0,115099.0,Europe
26,Egypt,Africa,1.025165e+08,95006,NaN,4951.0,NaN,48898.0,NaN,41157.0,41.0,927.0,48.0,135000.0,1317.0,EasternMediterranean
27,Ecuador,South America,1.766882e+07,90537,NaN,5877.0,NaN,71318.0,NaN,13342.0,378.0,5124.0,333.0,258582.0,14635.0,Americas
28,Bolivia,South America,1.168846e+07,86423,1282.0,3465.0,80.0,27373.0,936.0,55585.0,71.0,7394.0,296.0,183583.0,15706.0,Americas
29,Sweden,Europe,1.010560e+07,81967,NaN,5766.0,NaN,NaN,NaN,NaN,38.0,8111.0,571.0,863315.0,85429.0,Europe

Realizamos un conteo previo de filas y columnas

In [6]:
print (show.shape)

(209, 16)

### Descripción de columnas

Visualizamos los nombres de las columnas

In [7]:
show.columns

Index(['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases',
       'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered',
       'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
       'TotalTests', 'Tests/1M pop', 'WHO Region'],
      dtype='object')

Identificamos que tipo de datos están contenidos en las columnas

In [8]:
show.dtypes

Country/Region       object
Continent            object
Population          float64
TotalCases            int64
NewCases            float64
TotalDeaths         float64
NewDeaths           float64
TotalRecovered      float64
NewRecovered        float64
ActiveCases         float64
Serious,Critical    float64
Tot Cases/1M pop    float64
Deaths/1M pop       float64
TotalTests          float64
Tests/1M pop        float64
WHO Region           object
dtype: object

Identificamos que columnas tienen datos nulos

In [9]:
show.isnull().any()

Country/Region      False
Continent            True
Population           True
TotalCases          False
NewCases             True
TotalDeaths          True
NewDeaths            True
TotalRecovered       True
NewRecovered         True
ActiveCases          True
Serious,Critical     True
Tot Cases/1M pop     True
Deaths/1M pop        True
TotalTests           True
Tests/1M pop         True
WHO Region           True
dtype: bool

### Clasificación de datos

Ejemplos de los datos contenidos en las columnas

In [10]:
show.TotalCases.unique()

array([5032179, 2917562, 2025409,  871894,  538184,  462690,  455409,
        366671,  357710,  354530,  320117,  308134,  284226,  281863,
        249651,  249204,  237265,  228195,  215210,  195633,  140603,
        119460,  118753,  118561,  112092,   95942,   95006,   90537,
         86423,   81967,   80713,   79559,   76808,   76536,   71418,
         71158,   70045,   68503,   61845,   57895,   56982,   54555,
         54339,   52061,   49515,   45244,   45098,   42889,   42263,
         39819,   39642,   38659,   36896,   36108,   33626,   33247,
         29644,   28315,   27332,   26628,   26372,   24411,   22299,
         21750,   21696,   21070,   20900,   19890,   19126,   17731,
         17718,   16447,   14519,   14306,   13398,   13396,   13014,
         12526,   11780,   11399,   10715,    9468,    9309,    9038,
          8127,    7787,    7665,    7664,    7544,    7532,    7164,
          7073,    6444,    6375,    6016,    5672,    5404,    5330,
          5123,    4879,    4821,    4680,    4620,    4597,    4491,
          4339,    3902,    3850,    3546,    3480,    3330,    3227,
          3042,    2968,    2839,    2775,    2734,    2652,    2552,
          2480,    2450,    2223,    2171,    2124,    2120,    2111,
          2096,    2032,    1936,    1930,    1877,    1768,    1642,
          1569,    1483,    1318,    1275,    1232,    1224,    1223,
          1208,    1206,    1158,    1153,    1012,     999,     958,
           946,     944,     942,     935,     878,     804,     761,
           747,     742,     712,     699,     671,     597,     538,
           509,     477,     396,     395,     357,     344,     336,
           293,     282,     279,     276,     266,     263,     243,
           210,     203,     190,     163,     160,     157,     141,
           133,     129,     126,     125,     105,      92,      89,
            86,      64,      56,      53,      46,      31,      27,
            25,      24,      22,      20,      18,      17,      14,
            13,      12,      10], dtype=int64)

In [11]:
show.NewCases.unique()

array([  nan, 6590., 1282.,   20.,   30.])

### Cambio de nombres de las columnas

Se eliminaron las columnas que consideramos innecesarias o que tuvieran muchos datos nulos

In [12]:
del(show['Tests/1M pop'])
del(show['WHO Region'])
del(show['Deaths/1M pop'])
del(show['Tot Cases/1M pop'])
del(show['NewDeaths'])
del(show['NewCases'])
del(show['NewRecovered'])
show

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotalTests
0,USA,North America,3.311981e+08,5032179,162804.0,2576668.0,2292707.0,18296.0,63139605.0
1,Brazil,South America,2.127107e+08,2917562,98644.0,2047660.0,771258.0,8318.0,13206188.0
2,India,Asia,1.381345e+09,2025409,41638.0,1377384.0,606387.0,8944.0,22149351.0
3,Russia,Europe,1.459409e+08,871894,14606.0,676357.0,180931.0,2300.0,29716907.0
4,South Africa,Africa,5.938157e+07,538184,9604.0,387316.0,141264.0,539.0,3149807.0
...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,1.0,10.0,2.0,NaN,61.0
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,7.0,6.0,NaN,424.0
206,Falkland Islands,South America,3.489000e+03,13,NaN,13.0,0.0,NaN,1816.0
207,Vatican City,Europe,8.010000e+02,12,NaN,12.0,0.0,NaN,NaN
208,Western Sahara,Africa,5.986820e+05,10,1.0,8.0,1.0,NaN,NaN

Cambiamos los nombres de las columnas a español para mayor facilidad en la interpretación de los datos

In [13]:
show.rename(columns = {'Country/Region':'País','Continent':'Continente','Population':'Población','TotalCases':'CasosTotales','TotalDeaths':'MuertesTotales','TotalRecovered':'RecuperadosTotales','ActiveCases':'CasosActivos','Serious,Critical':'CasosCríticos','TotalTests':'TestTotales'},inplace=True)
show

,País,Continente,Población,CasosTotales,MuertesTotales,RecuperadosTotales,CasosActivos,CasosCríticos,TestTotales
0,USA,North America,3.311981e+08,5032179,162804.0,2576668.0,2292707.0,18296.0,63139605.0
1,Brazil,South America,2.127107e+08,2917562,98644.0,2047660.0,771258.0,8318.0,13206188.0
2,India,Asia,1.381345e+09,2025409,41638.0,1377384.0,606387.0,8944.0,22149351.0
3,Russia,Europe,1.459409e+08,871894,14606.0,676357.0,180931.0,2300.0,29716907.0
4,South Africa,Africa,5.938157e+07,538184,9604.0,387316.0,141264.0,539.0,3149807.0
...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,1.0,10.0,2.0,NaN,61.0
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,7.0,6.0,NaN,424.0
206,Falkland Islands,South America,3.489000e+03,13,NaN,13.0,0.0,NaN,1816.0
207,Vatican City,Europe,8.010000e+02,12,NaN,12.0,0.0,NaN,NaN
208,Western Sahara,Africa,5.986820e+05,10,1.0,8.0,1.0,NaN,NaN

Para finalizar, guardamos la nueva base de datos con el nombre de COVID-19

In [16]:
show.to_csv("COVID-19",index=False)

### Preguntas de Interes

**¿Para que sirve el ejercicio anterior?**

Lo anterior nos beneficiara para futuras actividades del PIA para lo cual necesitaremos conocer sobre analisis, manipulacion, estructurado y limpieza de datos en nuestras bases

### Puntos Extra (Investigación)

df.astype()
Es una función de Pandas que cambia el tipo de datos de los objetos a un tipo de datos especificado.

Forma: DataFrame.astype(dtype, copy=True, errors='raise')

Parámetros

Dtype: Tipo de datos que queremos asignar a nuestro objeto.
Copy: Un parámetro booleano. Devuelve una copia cuando True.
Errors: Controla el lanzamiento de excepciones sobre datos no válidos para el tipo de datos proporcionado.

Tiene dos opciones.

Raise: permite que se levanten las excepciones.
Ignore: suprime las excepciones. Si existe un error, entonces devuelve el objeto original.
df.dropna()
Es una función de Pandas que elimina los valores nulos (valores perdidos) del DataFrame dejando caer las filas o columnas que contienen los valores nulos.

En donde: NaN (no un número) y NaT (no un tiempo) representan los valores nulos. DataFrame.dropna() detecta estos valores y filtra el DataFrame en consecuencia.

Forma:DataFrame.dropna(axis, how, thresh, subset, inplace)

Parámetros

Axis: Determina que el eje sea de fila o de columna. Si es 0 o “índice”, entonces deja caer las filas que contienen valores perdidos. Si es 1 o columns, entonces deja caer las columnas que contienen los valores perdidos. Por defecto, su valor es 0.
How: Este parámetro determina la forma en que la función deja caer las filas o columnas. Sólo acepta dos cadenas de caracteres, ya sea any o all. Por defecto, se establece como any.

any: deja caer la fila o columna si hay algún valor nulo en ella.
all: deja caer la fila o columna si faltan todos los valores en ella.
Thresh: Es un número entero que especifica el menor número de valores que no falten que impiden que las filas o columnas caigan.

Subset: Es una matriz que tiene los nombres de las filas o columnas para especificar el procedimiento de caída.

Inplace: Es un valor booleano que cambia la llamada DataFrame si se establece como True. Por defecto, su valor es False.
-play redbone childish